{% extends "base.html" %}
{% load static %}

{% block main_content %}
<div class="row">
  <div class="col-8 d-flex flex-column">
    <div class="row flex-grow">

      <!-- IO Utilization Charts -->
      <div class="container-fluid d-flex flex-column vh-100">
        <div class="row d-flex align-items-stretch">
          <div class="col-12 d-flex flex-column">
            <div class="col-12 grid-margin stretch-card flex-grow-1">
              <div class="card card-rounded cpi-util-card">
                <div class="card-body p-1 pb-0">
                  <div class="d-flex justify-content-between p-2">
                    <h6 class="card-title card-title-dash">IO Utilization</h4>
                    <h4 class="card-title card-title-dash">Read 1.6 MB/s - Write 3.6 MB/s</h4>
                  </div>
                  <div class="row">
                    <div class="col-sm-12 h-100">
                      <div class="status-summary-chart-wrapper pb-0 h-100">
                        <canvas id="cpuUtilizationChart"></canvas>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Disk details -->
        <div class="row d-flex align-items-stretch">
          <div class="col-12 d-flex flex-column">
            <div class="row d-flex align-items-stretch">
              <div class="col-12 d-flex flex-column">
                <div class="col-12 grid-margin stretch-card flex-grow-1">
                  <div class="card card-rounded cpu-util-card">
                    <div class="card-body p-1 pb-0">
                      <div class="d-flex justify-content-between p-2">
                        <h6 class="card-title card-title-dash">Disk Details</h4>
                      </div>
                      <div class="row">
                        <div class="col-sm-12 h-100">
                          Details
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Storage Breakdown -->
  <div class="col-4 d-flex flex-column">
    <div class="row flex-grow">
      <div class="container-fluid d-flex flex-column vh-100">
        <div class="row d-flex align-items-stretch">
          <div class="col-12 d-flex flex-column">
            <div class="col-12 grid-margin stretch-card flex-grow-1">
              <div class="card card-rounded">
                <div class="card-body p-1 pb-0">
                  <div class="d-flex justify-content-between">
                    <h4 class="card-title card-title-dash px-2 pt-3">Storage Breakdown</h4>
                  </div>
                  <div>
                    <canvas class="my-auto mt-3 mb-5" id="storageBreakdownChart"></canvas>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock main_content %}
