{% extends "base.html" %}
{% load static %}

{% block main_content %}
<div class="row">
  <div class="col-12 d-flex flex-column">
    <div class="row flex-grow">

      <!-- Network Connections -->
      <div class="row d-flex align-items-stretch">
        <div class="col-12 d-flex flex-column">
          <div class="row d-flex align-items-stretch">
            <div class="col-12 d-flex flex-column">
              <div class="col-12 grid-margin stretch-card">
                <div class="card card-rounded">
                  <div class="card-body">
                    <div class="d-sm-flex justify-content-between align-items-start">
                      <div>
                        <h4 class="card-title card-title-dash">Connections</h4>
                        <p class="card-subtitle card-subtitle-dash">Total Connections: 212</p>
                      </div>
                    </div>
                    <div class=" table-container table-responsive  mt-1">
                      <table class="table select-table net-connections-table">
                        <thead>
                          <tr>
                            <th>PID</th>
                            <th>Name</th>
                            <th>Protocol</th>
                            <th>State</th>
                            <th>Local Addr</th>
                            <th>Foreign Addr</th>
                            <th>Send</th>
                            <th>Recieve</th>
                          </tr>
                        </thead>
                        <tbody class="scrollable-table-body">
                          <tr>
                            <td>
                              <div>
                                  <h6>571442</h6>
                              </div>
                            </td>
                            <td>
                              <div>
                                <h6>sshd</h6>
                              </div>
                            </td>
                            <td>
                              <div>
                                <p>tcp</p>
                              </div>
                            </td>
                            <td>
                              <div>
                                <p>ESTABLISHED</p>
                              </div>
                            </td>
                            <td>
                              <div>
                                <p>192.168.1.100:22</p>
                              </div>
                            </td>
                            <td>
                              <p>192.168.1.101:45678</p>
                            </td>
                            <td>
                              <div>
                                <p>0</p>
                              </div>
                            </td>
                            <td>
                              <div>
                                <p>0</p>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <div>
                                  <h6>571442</h6>
                              </div>
                            </td>
                            <td>
                              <div>
                                <h6>sshd</h6>
                              </div>
                            </td>
                            <td>
                              <div>
                                <p>tcp</p>
                              </div>
                            </td>
                            <td>
                              <div>
                                <p>ESTABLISHED</p>
                              </div>
                            </td>
                            <td>
                              <div>
                                <p>192.168.1.100:22</p>
                              </div>
                            </td>
                            <td>
                              <p>192.168.1.101:45678</p>
                            </td>
                            <td>
                              <div>
                                <p>0</p>
                              </div>
                            </td>
                            <td>
                              <div>
                                <p>0</p>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <div>
                                  <h6>571442</h6>
                              </div>
                            </td>
                            <td>
                              <div>
                                <h6>sshd</h6>
                              </div>
                            </td>
                            <td>
                              <div>
                                <p>tcp</p>
                              </div>
                            </td>
                            <td>
                              <div>
                                <p>ESTABLISHED</p>
                              </div>
                            </td>
                            <td>
                              <div>
                                <p>192.168.1.100:22</p>
                              </div>
                            </td>
                            <td>
                              <p>192.168.1.101:45678</p>
                            </td>
                            <td>
                              <div>
                                <p>0</p>
                              </div>
                            </td>
                            <td>
                              <div>
                                <p>0</p>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <div>
                                  <h6>571442</h6>
                              </div>
                            </td>
                            <td>
                              <div>
                                <h6>sshd</h6>
                              </div>
                            </td>
                            <td>
                              <div>
                                <p>tcp</p>
                              </div>
                            </td>
                            <td>
                              <div>
                                <p>ESTABLISHED</p>
                              </div>
                            </td>
                            <td>
                              <div>
                                <p>192.168.1.100:22</p>
                              </div>
                            </td>
                            <td>
                              <p>192.168.1.101:45678</p>
                            </td>
                            <td>
                              <div>
                                <p>0</p>
                              </div>
                            </td>
                            <td>
                              <div>
                                <p>0</p>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <div>
                                  <h6>571442</h6>
                              </div>
                            </td>
                            <td>
                              <div>
                                <h6>sshd</h6>
                              </div>
                            </td>
                            <td>
                              <div>
                                <p>tcp</p>
                              </div>
                            </td>
                            <td>
                              <div>
                                <p>ESTABLISHED</p>
                              </div>
                            </td>
                            <td>
                              <div>
                                <p>192.168.1.100:22</p>
                              </div>
                            </td>
                            <td>
                              <p>192.168.1.101:45678</p>
                            </td>
                            <td>
                              <div>
                                <p>0</p>
                              </div>
                            </td>
                            <td>
                              <div>
                                <p>0</p>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <div>
                                  <h6>571442</h6>
                              </div>
                            </td>
                            <td>
                              <div>
                                <h6>sshd</h6>
                              </div>
                            </td>
                            <td>
                              <div>
                                <p>tcp</p>
                              </div>
                            </td>
                            <td>
                              <div>
                                <p>ESTABLISHED</p>
                              </div>
                            </td>
                            <td>
                              <div>
                                <p>192.168.1.100:22</p>
                              </div>
                            </td>
                            <td>
                              <p>192.168.1.101:45678</p>
                            </td>
                            <td>
                              <div>
                                <p>0</p>
                              </div>
                            </td>
                            <td>
                              <div>
                                <p>0</p>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <div>
                                  <h6>571442</h6>
                              </div>
                            </td>
                            <td>
                              <div>
                                <h6>sshd</h6>
                              </div>
                            </td>
                            <td>
                              <div>
                                <p>tcp</p>
                              </div>
                            </td>
                            <td>
                              <div>
                                <p>ESTABLISHED</p>
                              </div>
                            </td>
                            <td>
                              <div>
                                <p>192.168.1.100:22</p>
                              </div>
                            </td>
                            <td>
                              <p>192.168.1.101:45678</p>
                            </td>
                            <td>
                              <div>
                                <p>0</p>
                              </div>
                            </td>
                            <td>
                              <div>
                                <p>0</p>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <div>
                                  <h6>571442</h6>
                              </div>
                            </td>
                            <td>
                              <div>
                                <h6>sshd</h6>
                              </div>
                            </td>
                            <td>
                              <div>
                                <p>tcp</p>
                              </div>
                            </td>
                            <td>
                              <div>
                                <p>ESTABLISHED</p>
                              </div>
                            </td>
                            <td>
                              <div>
                                <p>192.168.1.100:22</p>
                              </div>
                            </td>
                            <td>
                              <p>192.168.1.101:45678</p>
                            </td>
                            <td>
                              <div>
                                <p>0</p>
                              </div>
                            </td>
                            <td>
                              <div>
                                <p>0</p>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <div>
                                  <h6>571442</h6>
                              </div>
                            </td>
                            <td>
                              <div>
                                <h6>sshd</h6>
                              </div>
                            </td>
                            <td>
                              <div>
                                <p>tcp</p>
                              </div>
                            </td>
                            <td>
                              <div>
                                <p>ESTABLISHED</p>
                              </div>
                            </td>
                            <td>
                              <div>
                                <p>192.168.1.100:22</p>
                              </div>
                            </td>
                            <td>
                              <p>192.168.1.101:45678</p>
                            </td>
                            <td>
                              <div>
                                <p>0</p>
                              </div>
                            </td>
                            <td>
                              <div>
                                <p>0</p>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <div>
                                  <h6>571442</h6>
                              </div>
                            </td>
                            <td>
                              <div>
                                <h6>sshd</h6>
                              </div>
                            </td>
                            <td>
                              <div>
                                <p>tcp</p>
                              </div>
                            </td>
                            <td>
                              <div>
                                <p>ESTABLISHED</p>
                              </div>
                            </td>
                            <td>
                              <div>
                                <p>192.168.1.100:22</p>
                              </div>
                            </td>
                            <td>
                              <p>192.168.1.101:45678</p>
                            </td>
                            <td>
                              <div>
                                <p>0</p>
                              </div>
                            </td>
                            <td>
                              <div>
                                <p>0</p>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <div>
                                  <h6>571442</h6>
                              </div>
                            </td>
                            <td>
                              <div>
                                <h6>sshd</h6>
                              </div>
                            </td>
                            <td>
                              <div>
                                <p>tcp</p>
                              </div>
                            </td>
                            <td>
                              <div>
                                <p>ESTABLISHED</p>
                              </div>
                            </td>
                            <td>
                              <div>
                                <p>192.168.1.100:22</p>
                              </div>
                            </td>
                            <td>
                              <p>192.168.1.101:45678</p>
                            </td>
                            <td>
                              <div>
                                <p>0</p>
                              </div>
                            </td>
                            <td>
                              <div>
                                <p>0</p>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-8 d-flex flex-column">
      <!-- Network Usage Charts -->
      <div class="container-fluid d-flex flex-column vh-100" style="padding-left: 0px;">
        <div class="row d-flex align-items-stretch">
          <div class="col-12 d-flex flex-column pl-0">
            <div class="col-12 grid-margin stretch-card flex-grow-1">
              <div class="card card-rounded" style="height: 230px;">
                <div class="card-body p-1 pb-0">
                  <div class="d-flex justify-content-between p-2">
                    <h6 class="card-title card-title-dash">Network Usage</h4>
                    <h4 class="card-title card-title-dash">Up 2.23 MB/s - Down 203 KB/s</h4>
                  </div>
                  <div class="row">
                    <div class="col-sm-12" style="height: 100%;">
                      <div class="status-summary-chart-wrapper pb-0 h-100">
                        <canvas id="cpuUtilizationChart" style="height: 185px;"></canvas>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  <!-- Netwrok Stats -->
  <div class="col-4 d-flex flex-column">
    <div class="row flex-grow">
      <div class="container-fluid d-flex flex-column vh-100">
        <div class="row d-flex align-items-stretch">
          <div class="col-12 d-flex flex-column">
            <div class="col-12 grid-margin stretch-card flex-grow-1">
              <div class="card card-rounded">
                <div class="card-body p-1 pb-0">
                  <div class="d-flex justify-content-between">
                    <h4 class="card-title card-title-dash px-2 pt-3">Network Health</h4>
                    <button class="btn btn-xs btn-success p-0 mx-2 mt-2" style="height: 28px;">
                      <img src="{% static "icons/play.svg" %}"></img>
                    </button>
                  </div>
                  <hr class="mx-2 pt-0"/>
                  <div class="cpu-details-card">
                    <div class="d-flex align-items-center">
                      <h6 class="cpu-detail-heading">Total Packets: </h6>
                      <p>126</p>
                    </div>
                    <div class="d-flex align-items-center">
                      <h6 class="cpu-detail-heading">Sent Packets: </h6>
                      <p>82</p>
                    </div>
                    <div class="d-flex align-items-center">
                      <h6 class="cpu-detail-heading">Received Packets: </h6>
                      <p>41</p>
                    </div>
                    <div class="d-flex align-items-center">
                      <h6 class="cpu-detail-heading">Dropped Packets: </h6>
                      <p>3</p>
                    </div>
                    <div class="d-flex align-items-center">
                      <h6 class="cpu-detail-heading">Average Latency: </h6>
                      <p>164 ms</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock main_content %}
